.panel {
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #f0f8ff;
  }
  
  .panel-title {
    color: #007bff;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .panel-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="number"],
  input[type="checkbox"] {
    margin-top: 5px;
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .config-table input[type="color"] {
    width: 70px; /* Adjust width as needed */
    height: 25px; /* Optional: Adjust height for better appearance */
    padding: 0px; /* Optional: Adds a little spacing inside */
  }
  
  
  .redraw-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .redraw-button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the toggle button */
  .panel-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .panel-toggle:hover {
    background-color: #0056b3;
  }
  
  .panel-toggle:active {
    transform: scale(0.98);
  }
  
  /* Animation for opening and closing the panel */
  .panel.closed .panel-content {
    display: none;
  }
  
  .panel.open .panel-content {
    display: block;
  }

